.category-view {
  margin: auto;
  width: 750px;
  height: 750px;
  left: 0;
  right: 0;
}

.col-xs-5 {
  margin: 5px;
  width: 365px;
  height: 100px;
  box-shadow: 2px 2px 2px lightgrey;
  list-style-type: none;
  background-color: whitesmoke;
}
