.item-categories {
  margin: auto;
  width: 750px;
  height: 750px;
  left: 0;
  right: 0;
  text-align: center;
}

.col-xs-2 {
  margin: 5px;
  padding-top: 110px;
  width: 140px;
  height: 140px;
  border-radius: 2px;
  box-shadow: 3px 3px 3px darkgray;
  text-align: center;
  color: darkslategrey;
  font-size: 17px;
  background-color: whitesmoke;
}
