.item-categories {
  margin: auto;
  width: 750px;
  height: 750px;
  left: 0;
  right: 0;
  text-align: center;
}

.col-xs-2 {
  margin: 5px;
  padding-top: 55px;
  width: 140px;
  height: 140px;
  box-shadow: 2px 2px 2px lightgrey;
  list-style-type: none;
  text-align: center;
  background-color: whitesmoke;
}
