/**
 * Main sass style file, import all partials here
 */

@import 'navbar';
@import 'itemCategories';
@import 'categoryView';
@import 'itemView';
@import 'testCSS';

body {
  height: 100%;
  background-image: url('../assets/background.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #404040;
}
